<launch>
    <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen">
        <rosparam file="$(find stage_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find stage_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find stage_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find stage_navigation)/param/local_costmap_params.yaml" command="load" />

        <rosparam file="$(find stage_navigation)/param/local_planner_params.yaml" command="load" />
        <rosparam file="$(find stage_navigation)/param/global_planner_params.yaml" command="load" />
        <rosparam file="$(find stage_navigation)/param/move_base_flex_params.yaml" command="load" />
        <rosparam file="$(find stage_navigation)/param/costmap_converter_params.yaml" command="load" /> 
    </node>
    <!-- action goal bridge -->
    <!-- <node pkg="stage_navigation" type="mbf_bridge" respawn="false" name="mbd_bridge" /> -->
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stage_navigation)/cfg/rviz_navigation.rviz"/>
</launch>
